# Upload SAFT result

In [337]:
import pandas as pd
import numpy as np
import os
file_path = 'MergedData.xlsx'
sheet_nameR = 'Rho'
sheet_nameU = 'U'
dfr = pd.read_excel(file_path, sheet_name=sheet_nameR)
dfu = pd.read_excel(file_path, sheet_name=sheet_nameU)
import os

In [338]:
name = '2Hea_Pr'

In [339]:
dfr

,p,298.15,303.15,313.15,323.15,333.15,343.15
0,1,1123.217813,1113.876108,1094.563438,1074.338741,1053.096363,1030.703898
1,2,1123.458290,1114.128599,1094.842946,1074.650078,1053.445641,1031.099035
2,3,1123.698313,1114.380587,1095.121829,1074.960628,1053.793912,1031.492860
3,4,1123.937885,1114.632074,1095.400090,1075.270395,1054.141183,1031.885382
4,5,1124.177006,1114.883061,1095.677732,1075.579384,1054.487459,1032.276613
...,...,...,...,...,...,...,...
220,1310,1290.239998,1285.611976,1276.309264,1266.951389,1257.546674,1248.103299
221,1320,1291.027979,1286.412566,1277.135515,1267.803864,1258.425909,1249.009793
222,1330,1291.812350,1287.209438,1277.957823,1268.652164,1259.300725,1249.911615
223,1340,1292.593147,1288.002630,1278.776230,1269.496333,1260.171171,1250.808818
224,1350,1293.370405,1288.792177,1279.590777,1270.336415,1261.037293,1251.701454

In [340]:
dfr['p'] = dfr['p']/10
dfu['p'] = dfu['p']/10

In [341]:
dfu

,p,298.15,303.15,313.15,323.15,333.15,343.15
0,0.1,1695.511352,1705.630360,1727.564865,1752.630906,1782.219595,1818.333849
1,0.2,1696.107950,1706.236482,1728.187435,1753.263730,1782.850978,1818.941936
2,0.3,1696.703780,1706.841786,1728.809089,1753.895556,1783.481332,1819.549104
3,0.4,1697.298844,1707.446277,1729.429833,1754.526388,1784.110661,1820.155356
4,0.5,1697.893146,1708.049958,1730.049671,1755.156233,1784.738972,1820.760699
...,...,...,...,...,...,...,...
220,131.0,2207.702419,2220.517544,2246.267887,2272.344762,2298.952016,2326.299917
221,132.0,2210.642726,2223.460524,2249.211270,2275.281170,2301.872960,2329.195585
222,133.0,2213.575065,2226.395466,2252.146522,2278.209425,2304.785817,2332.083340
223,134.0,2216.499504,2229.322442,2255.073716,2281.129599,2307.690657,2334.963251
224,135.0,2219.416112,2232.241520,2257.992923,2284.041765,2310.587552,2337.835386

# ZaÅ‚aduj dane, odnoszÄ…ce siÄ™ do eksperymantalnych ciÅ›nieÅ„

In [342]:
#Frame GeÅ›toÅ›ci
PR = [0.1,10,15,20,25,30,35]
#Frame predkoÅ›ci
PU  = [0.10,1.00,2.00,3.00,4.00,5.00,6.00,7.00,8.00,9.00,10.00,11.00,12.00,13.00,14.00,15.00,16.00,17.00,18.00,19.00,20.00]

In [343]:
resr = dfr[dfr['p'].isin(PR)]
resu = dfu[dfu['p'].isin(PU)]

In [344]:
resr

,p,298.15,303.15,313.15,323.15,333.15,343.15
0,0.1,1123.217813,1113.876108,1094.563438,1074.338741,1053.096363,1030.703898
99,10.0,1145.092134,1136.742943,1119.629579,1101.939166,1083.640012,1064.696505
104,15.0,1154.907599,1146.946482,1130.676584,1113.930554,1096.692224,1078.944367
109,20.0,1164.067655,1156.441920,1140.894315,1124.946349,1108.591335,1091.822776
114,25.0,1172.665030,1165.333055,1150.413379,1135.151829,1119.547703,1103.601012
119,30.0,1180.773187,1173.701404,1159.334443,1144.671786,1129.716596,1114.472932
124,35.0,1188.451433,1181.612294,1167.736934,1153.603026,1139.216268,1124.583271

# SpÅ‚aszczenie tabel po izobarach

In [345]:
resr_without_p = resr.drop('p', axis=1)
resu_without_p = resu.drop('p', axis=1)
resr_flat = np.array(resr_without_p).flatten()  # przeksztaÅ‚cenie do jednowymiarowej tablicy numpy
resu_flat = np.array(resu_without_p).flatten()
resr_numerical = [val.item() for val in resr_flat]  # wyodrÄ™bnienie wartoÅ›ci liczbowych
resu_numerical = [val.item() for val in resu_flat]
raw_r = pd.DataFrame(resr_numerical) ###Zapis wektora danych w postaci kolumny surowych danych
raw_u = pd.DataFrame(resu_numerical)

# Zapis tabeli

In [346]:
# Nazwa katalogu
directory_name = "DATA"

# UtwÃ³rz katalog, jeÅ›li nie istnieje
if not os.path.exists(directory_name):
    os.makedirs(directory_name)
### GÄ˜stoÅ›Ä‡
file_path = os.path.join(directory_name, "PCSAFTR_" + name + ".xlsx")
resr.to_excel(file_path, index=False)  # Ustawienie index=False usuwa indeksy w pliku Excel
#### PrÄ™dkoÅ›Ä‡
file_path = os.path.join(directory_name, "PCSAFTU_" + name + ".xlsx")
resu.to_excel(file_path, index=False)  # Ustawienie index=False usuwa indeksy w pliku Excel
print(f"Plik zapisany w: {file_path}")

Plik zapisany w: DATA\PCSAFTU_2Hea_Pr.xlsx

# Zapis RAW

In [347]:
# Nazwa katalogu
directory_name = "RAW"

# UtwÃ³rz katalog, jeÅ›li nie istnieje
if not os.path.exists(directory_name):
    os.makedirs(directory_name)
# PeÅ‚na Å›cieÅ¼ka do pliku
file_pathr = os.path.join(directory_name, "RAWR_" + name + ".xlsx")
raw_r.to_excel(file_pathr, index=False)  # Ustawienie index=False usuwa indeksy w pliku Excel

file_pathu = os.path.join(directory_name, "RAWU_" + name + ".xlsx")
raw_u.to_excel(file_pathu, index=False)  # Ustawienie index=False usuwa indeksy w pliku Excel

print(f"Plik zapisany w: {file_path}")

Plik zapisany w: DATA\PCSAFTU_2Hea_Pr.xlsx

In [348]:

# for i in res_numerical:
#     print(i);

In [349]:
resu_numerical

[1695.51135223172,
 1705.63035989624,
 1727.56486512592,
 1752.63090565601,
 1782.21959488715,
 1818.33384882058,
 1700.85332913844,
 1711.05632585422,
 1733.1354125326,
 1758.29081199263,
 1787.86544582465,
 1823.77392255726,
 1706.71825534018,
 1717.01022215123,
 1739.24130137201,
 1764.4887031885,
 1794.04512798,
 1829.73473338853,
 1712.51164305879,
 1722.88831604022,
 1745.26297861978,
 1770.59541940731,
 1800.13131974612,
 1835.61157798341,
 1718.23619189937,
 1728.69360411164,
 1751.20409164218,
 1776.61525252931,
 1806.12867525293,
 1841.40840552463,
 1723.89443485264,
 1734.42888901518,
 1757.06802818142,
 1782.552159764,
 1812.04145875233,
 1847.12884773551,
 1729.48875235998,
 1740.09679662471,
 1762.85794164042,
 1788.40979945229,
 1817.87358979346,
 1852.77625461593,
 1735.02138488859,
 1745.69979129715,
 1768.57677327882,
 1794.19156206587,
 1823.62868180701,
 1858.35372506462,
 1740.494444204,
 1751.24018947873,
 1774.22727177331,
 1799.9005971691,
 1829.31007524233,
 1863.86413326609,
 1745.90992350112,
 1756.72017186958,
 1779.81201051242,
 1805.53983697293,
 1834.92086617927,
 1869.31015154821,
 1751.26970653364,
 1762.14179433315,
 1785.33340294092,
 1811.11201699053,
 1840.46393115091,
 1874.69427027566,
 1756.57557585806,
 1767.50699770103,
 1790.79371621392,
 1816.61969422435,
 1845.94194877726,
 1880.01881524496,
 1761.82922029648,
 1772.81761660955,
 1796.19508338634,
 1822.06526323376,
 1851.35741870301,
 1885.28596295774,
 1767.03224170567,
 1778.07538748197,
 1801.53951432283,
 1827.45097038049,
 1856.71267823865,
 1890.49775408397,
 1772.18616113149,
 1783.28195575419,
 1806.82890548934,
 1832.77892649736,
 1862.00991704141,
 1895.65610537566,
 1777.29242441247,
 1788.43888243133,
 1812.06504876444,
 1838.0511181913,
 1867.25119011191,
 1900.76282024449,
 1782.35240729543,
 1793.54765004785,
 1817.24963938738,
 1843.2694179548,
 1872.43842933856,
 1905.81959818569,
 1787.3674201104,
 1798.60966809758,
 1822.38428314331,
 1848.43559323722,
 1877.5734537863,
 1910.82804319974,
 1792.33871205257,
 1803.6262779891,
 1827.47050287495,
 1853.55131460526,
 1882.6579788912,
 1915.78967134069,
 1797.26747511158,
 1808.59875757717,
 1832.50974439502,
 1858.61816309989,
 1887.69362470345,
 1920.70591750164,
 1802.15484767914,
 1813.52832531276,
 1837.5033818666,
 1863.63763688747,
 1892.68192329554,
 1925.57814152847]